# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen

# .github
/.github/ @pietfried @corneliusclaussen

# cmake
/cmake/ @hikinggrass @a-w50 @corneliusclaussen

# lib
/lib/3rd_party/nanopb/ @a-w50 @corneliusclaussen @hikinggrass
/lib/staging/can_dpm1000/ @a-w50 @corneliusclaussen @hikinggrass
/lib/staging/gpio/ @corneliusclaussen @hikinggrass @hikinggrass
/lib/staging/ocpp/ @hikinggrass @pietfried @corneliusclaussen
/lib/staging/slac/ @a-w50 @corneliusclaussen @SebaLukas
/lib/staging/tls/ @james-ctc @AssemblyJohn @corneliusclaussen @SebaLukas

# modules
/modules/API/ @hikinggrass @pietfried @corneliusclaussen
/modules/Auth/ @pietfried @corneliusclaussen @hikinggrass
/modules/Energymanager/ @corneliusclaussen @hikinggrass @pietfried
/modules/EnergyNode/ @corneliusclaussen @hikinggrass @pietfried
/modules/EvseManager/ @corneliusclaussen @SebaLukas @hikinggrass @pietfried
/modules/EvManager/ @SebaLukas @pietfried @MarzellT
/modules/Evse15118D20/ @SebaLukas @a-w50 @corneliusclaussen
/modules/EvseSecurity/ @AssemblyJohn @pietfried @hikinggrass
/modules/EvseV2G/ @corneliusclaussen @SebaLukas @james-ctc
/modules/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas
/modules/OCPP/ @hikinggrass @pietfried @maaikez
/modules/OCPP201/ @hikinggrass @pietfried @maaikez
/modules/PacketSniffer @corneliusclaussen @SebaLukas @hikinggrass
/modules/PhyVersoBSP @pietfried @hikinggrass @corneliusclaussen @dorezyuk
/modules/PyEvJosev @SebaLukas @corneliusclaussen @pietfried
/modules/Setup @hikinggrass @corneliusclaussen @pietfried
/modules/YetiDriver @corneliusclaussen @hikinggrass
/modules/simulation/ @SebaLukas @pietfried @hikinggrass
/modules/SlacSimulator/ @SebaLukas @pietfried @corneliusclaussen @MarzellT
/modules/rust_examples/ @SirVer @dorezyuk
**/Cargo.toml @SirVer @dorezyuk
**/Cargo.lock @SirVer @dorezyuk


# Rust & Bazel
*.rs @SirVer @dorezyuk
*.bazel @SirVer @dorezyuk
*.bzl @SirVer @dorezyuk

# third-party/bazel
/third-party/bazel/deps_versions.bzl @pietfried @hikinggrass @corneliusclaussen @SebaLukas @a-w50 @SirVer @dorezyuk
