Checks: >
    bugprone*,
    misc-const-correctness,
    performance*,
    -performance-avoid-endl,
    -llvmlibc*,
    -fuchsia-overloaded-operator,
    -fuchsia-statically-constructed-objects,
    -readability-function-cognitive-complexity,
    -modernize-use-trailing-return-type,
    -abseil-string-find-startswith,
    -abseil-string-find-str-contains,
    -readability-identifier-length,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -altera-struct-pack-align,
    -performance-enum-size,
    -altera*,
    -misc-non-private-member-variables-in-classes,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -bugprone-easily-swappable-parameters
HeaderFilterRegex:  ".*"
CheckOptions:
  - { key: performance-unnecessary-value-param.AllowedTypes, value: ((std::shared_ptr)) }
