*build
*build-cross
.cache/
workspace.yaml
.vscode/
/bazel-*
/modules/target
CMakeLists.txt.user
.idea/
MODULE.bazel.lock
/lib/everest/api_types/tests/test_file_autogenerator/pythonProject/__pycache__/
