{% from "helper_macros.j2" import insert_block, print_template_info %}
{{ print_template_info('0.0.2', 'marked regions will be kept', '#') }}

# module setup:
#   - ${MOD_MODULE_NAME}: library target
#   - ${MODULE_NAME}: module name
cpp_module_setup()

{{ insert_block(info.blocks.add_general) }}

target_include_directories(${MOD_MODULE_NAME}
    PRIVATE
        ${CMAKE_CURRENT_SOURCE_DIR}
        ${GENERATED_HEADER_DIR}
        ${MODULE_LOADER_DIR}
        ${ADDITIONAL_MODULE_INCLUDES}
)

target_sources(${MOD_MODULE_NAME}
    PRIVATE
        ${MODULE_NAME}.cpp
        "${MODULE_LOADER_DIR}/ld-ev.cpp"
        {% for impl in provides %}
        "{{ impl.cpp_file_rel_path }}"
        {% endfor %}
        ${ADDITIONAL_MODULE_SOURCES}
)

target_link_libraries(${MOD_MODULE_NAME}
    PRIVATE
        everest ${CMAKE_DL_LIBS}
        everest::log
        nlohmann_json::nlohmann_json
        ${ADDITIONAL_MODULE_LIBS}
)

target_compile_features(${MOD_MODULE_NAME} PRIVATE cxx_std_14)

set({{ info.name|upper }}_DEST "modules/${MODULE_NAME}")
install(TARGETS ${MOD_MODULE_NAME}
    LIBRARY
    DESTINATION {{ '${' + info.name|upper }}_DEST}
)

install(FILES manifest.json
    DESTINATION {{ '${' + info.name|upper }}_DEST}
)

{{ insert_block(info.blocks.add_other) }}
