{% from "helper_macros.j2" import call_cmd_signature, var_to_any, var_to_cpp, print_template_info, cpp_type, print_spdx_line %}
{{ print_spdx_line('Apache-2.0') }}
#ifndef {{ info.hpp_guard }}
#define {{ info.hpp_guard }}

{{ print_template_info('3') }}

#include <framework/ModuleAdapter.hpp>

class {{ info.class_name }} {
public:
    {{ info.class_name }}(Everest::ModuleAdapter* adapter, Requirement req, const std::string& module_id) : module_id(module_id), _adapter(adapter), _req(req){};

    const std::string module_id;

    {% if not vars %}
    // this interface does not export any variables to subscribe to
    {% else %}
    // variables available for subscription
    {% for var in vars %}
    void subscribe_{{ var.name }}(const std::function<void({% if var.json_type != 'null' %}{{ cpp_type(var) }}{% endif %})>& listener) {
        ValueCallback cb = [listener](const Value& value) {
            {% if var.json_type != 'null' %}
            auto native_value = {{ var_to_cpp(var) }}(value);
            listener(native_value);
            {% else %}
            if (value.type() != typeid({{ cpp_type(var) }})) {
                EVLOG_error << "Callback for variable '{{ var.name }}' in interface '{{ info.interface }}' has wrong type!";
            }
            listener();
            {% endif %}
        };
        _adapter->subscribe(_req, "{{ var.name }}", cb);
    }
    {% if not loop.last %}

    {% endif %}
    {% endfor %}
    {% endif %}

    {% if not cmds %}
    // this interface does not export any commands to call
    {% else %}
    // commands available to call
    {% for cmd in cmds %}
    {{ call_cmd_signature(cmd) }} {
        Parameters args;
        {% for arg in cmd.args %}
        args["{{ arg.name }}"] = {{ var_to_any(arg, arg.name) }};
        {% endfor %}
        {% if cmd.result %}Result result = {% endif %}_adapter->call(_req, "{{ cmd.name }}", args);
        {% if cmd.result %}
        auto retval = {{ var_to_cpp(cmd.result) }}(result.get());

        return retval;
        {% endif %}
    }
    {% if not loop.last %}

    {% endif %}
    {% endfor %}
    {% endif %}

private:
    Everest::ModuleAdapter* const _adapter;
    Requirement _req;
};

#endif // {{ info.hpp_guard }}
