name: Bazel Build
run-name: ${{ github.actor }} is building with bazel
on:
  pull_request: {}
  merge_group: {}
jobs:
  bazel-build-and-test:
    runs-on: ubuntu-22.04
    steps:
      - run: echo branch name is ${{ github.ref }}
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          path: "~/.cache/bazel"
          key: ${{ runner.os }}-bazel-${{ hashFiles('dependencies.yaml', '.bazelversion', '.bazelrc', 'WORKSPACE.bazel', 'third-party/bazel/*') }}
          restore-keys: |
            ${{ runner.os }}-bazel-
      - name: Build all
        run: >
          bazelisk build //...
      - name: Test all
        run: bazelisk test //... --test_output=errors
