name: Bazel Build
run-name: ${{ github.actor }} is building with bazel
on: [pull_request]
jobs:
  bazel-build-and-test:
    runs-on: ubuntu-22.04
    steps:
      - run: echo branch name is ${{ github.ref }}
      - name: Checkout
        uses: actions/checkout@v4.1.0

      - name: Set up SSH key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

          # Check if github.com is already in known_hosts, if not, add it
          if ! grep -q "^github.com " ~/.ssh/known_hosts; then
            ssh-keyscan github.com >> ~/.ssh/known_hosts
          fi

      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          path: "~/.cache/bazel"
          key: ${{ runner.os }}-bazel-${{ hashFiles('dependencies.yaml', '.bazelversion', '.bazelrc', 'WORKSPACE.bazel', 'third-party/bazel/*') }}
          restore-keys: |
            ${{ runner.os }}-bazel-
      - name: Build all
        run: >
          bazelisk build //...
      - name: Test all
        run: bazelisk test //... --test_output=errors
