name: Bazel Build
run-name: ${{ github.actor }} is building with bazel
on: [pull_request]
jobs:
  bazel-build-and-test:
    runs-on: ubuntu-22.04
    steps:
      - run: echo branch name is ${{ github.ref }}
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          path: "~/.cache/bazel"
          key: ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'WORKSPACE.bazel', 'third-party/bazel/*') }}
      - name: Build all
        run: >
          bazelisk build //...
      - name: Test all
        run: bazelisk test //...
