name: Lint Repository

on:
  workflow_call:    
    inputs:
      runner:
        description: 'Which runner to use'
        required: false
        default: 'ubuntu-24.04'
        type: string
      ref_everest_ci:
        description: 'The ref of the everest-ci repository to checkout'
        required: true
        type: string

jobs:
  lint:
    name: Lint Repository
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Checkout local github actions
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/everest-ci
          ref: ${{ inputs.ref_everest_ci }}
          path: everest-ci
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: source
      - name: Run clang-format
        uses: ./everest-ci/github-actions/run-clang-format
        with:
          source-dir: source/
          extensions: hpp,cpp
          exclude: cache
