name: Build, Lint and Test
on:
  push:
    branches:
      - main

jobs:
  ci:
    name: Build, Lint and Test
    uses: everest/everest-ci/.github/workflows/continuous_integration.yml@v1.4.6
    permissions:
      contents: read
    secrets:
      coverage_deploy_token: ${{ secrets.SA_GITHUB_PAT }}
    with:
      runner: ${{ inputs.runner || 'ubuntu-22.04' }}
      artifact_deploy_target_repo: EVerest/everest.github.io
      run_coverage: false
      do_not_run_coverage_badge_creation: true
      run_install_wheels: true
      run_integration_tests: true
  build-docs:
    name: Call Build Documentation
    needs:
      - ci
    uses: ./.github/workflows/build_docs.yaml
    with:
      runner: ${{ inputs.runner || 'ubuntu-24.04' }}
      deploy_docs: true
